In [1]:
import pandas as pd

Email_Data = pd.read_csv("spam.csv",encoding ='latin1')
Email_Data.columns
Email_Data = Email_Data[['v1', 'v2']]
Email_Data = Email_Data.rename(columns={"v1":"Target","v2":"Email"})
Email_Data.head()

  Target                                              Email
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
subset = Email_Data[['Email', 'Target']]
tuples = [tuple(x) for x in subset.to_numpy()]

In [3]:
from textblob.classifiers import NaiveBayesClassifier;

In [5]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [6]:
cl = NaiveBayesClassifier(tuples);

In [7]:
print(cl.classify('It is a nice story'));

ham

In [8]:
import pandas as pd

Email_Data = pd.read_csv("spam.csv",encoding ='latin1')
Email_Data.columns
Email_Data = Email_Data[['v1', 'v2']]
Email_Data = Email_Data.rename(columns={"v1":"Target","v2":"Email"})
Email_Data.head()

  Target                                              Email
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
from sklearn import model_selection
train_x, valid_x, train_y, valid_y = model_selection.train_test_split(Email_Data['Email'], Email_Data['Target'])

In [10]:
res = list(zip(train_x,train_y))

# creating tuple
res = tuple(res)

In [11]:
cl = NaiveBayesClassifier(res);

In [12]:
print(cl.classify('It is a nice story'));

ham